<div class="col s7">
  <section class="todoapp">
    <header class="header">
      <h4>TODO List</h4>
      <input
        class="new-todo"
        placeholder="Any Suggestions ?"
        autofocus=""
        [(ngModel)]="newTodo.title"
        (keyup.enter)="addTodo()"
      />
    </header>
    <section class="main" *ngIf="todos.length > 0">
      <ul class="todo-list collection">
        <li *ngFor="let todo of todos" class="collection-item">
          <div class="view">
            <label>
              <input
                type="checkbox"
                (click)="toggleTodoComplete(todo)"
                [checked]="todo.complete"
              />
              <span [ngClass]="{ crossed: todo.complete }">{{
                todo.title
              }}</span>
              <!-- <span>{{ todo.complete }}</!-->
            </label>
            <i (click)="removeTodo(todo)" class="small material-icons">clear</i>
          </div>
        </li>
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count" *ngIf="todos.length > 0">
        <strong>{{ todos.length }}</strong>
        {{ todos.length === 1 ? "item" : "items" }}
      </span>
      <span class="todo-count2" *ngIf="todos.length > 0">
        <strong>{{ countTodoDone() }}</strong>
        {{ countTodoDone() === 1 || countTodoDone() === 0 ? "item" : "items" }}
        done
      </span>
    </footer>
  </section>
</div>
