nav {
    background: transparent;
    box-shadow: none;
    padding: 1.5% 3%;
    line-height: 45px;
}

.nav-wrapper a img {
    height: 3em;
}

ul li a {
    text-transform: uppercase;
    font-size: 1.4em;
    position: relative;
}
 


