<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="assets/img/logoIcon.png"></a>
    <a href="#" class="sidenav-trigger" data-target="mobile-links"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">news</a></li>
      <li><a href="#">work</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-links">
  <li><a href="#">news</a></li>
  <li><a href="#">work</a></li>
  <li><a href="#">about</a></li>
  <li><a href="#">contact</a></li>
</ul>