<section id="footer">
  <div class="container row">
    <div class="col s6">
      <h3>
        <img src="assets/img/logoIcon.png" class="responsive-img" alt="">
        <span>NizGame</span>
      </h3>
      <div class="social-btns">
        <a class="btn facebook" href="#" id="facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn twitter" href="#" id="twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="btn instagram" href="#" id="instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn google" href="#" id="google">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </div>
      <a href="#" id="disclaimer">Legal Disclaimer </a>
      <a href="#" id="privacy">Privacy Policy</a>
    </div>
    <div class="col s6">
      <h2>Studios</h2>
      <!-- Card of studios -->
      <!-- Animated flip with information -->
    </div>
  </div>
</section>