<section id="about">

  <i class="tiny material-icons" id="light">brightness_5</i>
  <i class="tiny material-icons" id="night">brightness_2</i>
  <div class="toggle"></div>


  <div class="container">
    <!-- Section about/infos -->
    <div class="row">
      <div class="col s4 reveal">
        <div class="center promo reveal-1">
          <i class="large material-icons">people</i>
          <h2 class="flow-text">Friendly Company</h2>
          <p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col s4 reveal">
        <div class="center promo reveal-2">
          <i class="large material-icons">location_on</i>
          <h2 class="flow-text">A lot of workspace</h2>
          <p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col s4 reveal">
        <div class="center promo reveal-3">
          <i class="large material-icons">games</i>
          <h2 class="flow-text">Work on the best games</h2>
          <p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</section>