<!-- TODO : Modal à compléter + styliser  -->
<div id="modalj1" class="modal">
  <div class="modal-content">
    <h4>Fast & Crazy</h4>
    <p>
      Fast & Crazy is an automobil game. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Sed, illo rerum in porro maiores quas repellendus
      facilis.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<div id="modalj2" class="modal">
  <div class="modal-content">
    <h4>Sun Fighter</h4>
    <p>
      When you face the sun, you are called a sun fighter. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Sed, illo rerum in porro maiores quas
      repellendus facilis.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
