* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.row {
  background: #00bfa5;
  padding: 40px 10px;
  text-align: center;
  color: white;
}

.row.night {
  background: #4db6ac;
}

.row p {
  max-width: 500px;
  margin: 20px auto;
  font-size: 15px;
  font-weight: 300;
}

.col.s6#left {
  border-right: 1px solid #34495e;
}

.reveal [class*="reveal-"] {
  opacity: 0;
}

.reveal .reveal-1 {
  transform: translateX(-40px);
}

.reveal .reveal-2 {
  transform: translateX(40px);
}

.reveal-visible [class*="reveal-"] {
  opacity: 1;
  transform: translateX(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

.email-box {
  height: 45px;
  display: flex;
  justify-content: center;
}

.email-box ::placeholder {
  color: #2f3542;
  opacity: 0.75;
}

.email-box i {
  font-family: "Material Icons";
  background: #2f3542;
  width: 40px;
  line-height: 45px;
}

.tbox,
.btn.btn1 {
  border: none;
  outline: none;
}

.input-field.inline .tbox {
  width: 0px;
  background: #fff;
  transition: 0.6s;
}

.email-box:hover > .tbox,
.tbox:focus {
  width: 280px;
  padding: 0 7px;
}

.input-field.inline {
  margin-left: 0px;
}

.btn.btn1 {
  background: #2f3542;
  height: 45px;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px;
  box-shadow: none;
}

#right a {
  display: inline-block;
  text-decoration: none;
  margin: 25px auto;
  color: #2f3542;
  border: 2px solid #2f3542;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.3s linear;
  border-radius: 3px;
  font-weight: 600;
}

#right a:hover {
  color: #00bfa5;
  background: #2f3542;
}

#right a.night:hover {
  color: #4db6ac;
  background: #2f3542;
}

#modal-contact {
  width: 45%;
  margin: auto;
  background: #e3f2fd;
  border-radius: 5px;
}
#modal-contact ::placeholder {
  color: #2f3542;
  opacity: 0.75;
}

#modal-contact.night {
  background: #2f3542;
}
#modal-contact.night ::placeholder {
  color: #fff;
}

#modal-contact.night input[type="text"],
#modal-contact.night input[type="email"],
#modal-contact.night #textarea-contact {
  color: #fff;
}

#modal-contact h3 {
  color: #00bfa5;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  letter-spacing: -3px;
}

#modal-contact input[type="text"],
#modal-contact input[type="email"] {
  width: 300px;
  margin: auto;
  padding: 15px 10px 0px 10px;
  display: block;
  transition: 0.25s;
}

#modal-contact .input-field {
  width: 300px;
  padding: 15px 10px 0px 10px;
  margin: 10px 115px;
  display: block;
  transition: 0.25s;
}

#textarea-contact {
  width: 318px;
  display: block;
  margin: auto;
}

#modal-contact input[type="text"]:focus,
#modal-contact input[type="email"]:focus {
  width: 400px;
}

#modal-contact i.material-icons {
  font-family: "Material Icons";
  font-size: 3.5rem;
  color: white;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  margin: 7px 0px 3px 3.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #4db6ac;
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

#modal-contact.night i.material-icons {
  color: #2f3542;
}

#modal-contact i.material-icons:after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 2px;
  opacity: 0;
  transform: scale(0.8);
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: 50%;
  border-color: #4db6ac;
  transition: all 0.3s ease;
}

#modal-contact i.material-icons:hover {
  color: #4db6ac;
  background-color: transparent;
  transform: rotate(-90deg);
  box-shadow: none;
}

#modal-contact i.material-icons:hover:after {
  transform: scale(1);
  opacity: 1;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}
