<br />
<section id="contact">
  <div class="row reveal">
    <div class="col s6 reveal-1" id="left">
      <form action="">
        <h2>Join our Newsletter</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
          eos alias hicris
        </p>
        <div class="email-box input-field inline">
          <i class="small material-icons">email</i>
          <input
            class="tbox"
            type="email"
            name=""
            value=""
            placeholder="Enter your email"
          />
          <button class="btn btn1" type="button">Subscribe</button>
        </div>
      </form>
    </div>
    <div class="col s6 reveal-2" id="right">
      <h2>Contact Us</h2>
      <a class="modal-trigger" href="#modal-contact">Contact</a>
    </div>
  </div>
  <div id="modal-contact" class="modal">
    <div class="modal-content">
      <h3>Contact Us</h3>
      <form>
        <input type="text" name="" placeholder="Your Name" />
        <input type="email" name="" placeholder="Your Email" />
        <div class="input-field">
          <textarea
            id="textarea-contact"
            class="materialize-textarea"
            data-length="150"
            placeholder="Your Message"
          ></textarea>
        </div>
        <div class="center-align">
          <i class="medium material-icons modal-close">mail</i>
        </div>
      </form>
    </div>
  </div>
</section>
