<br>
<section id="contact">
  <div class="row">
    <div class="col s6" id="left">
      <form action="">
        <h2> Join our Newsletter</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio eos alias hicris</p>
        <div class="email-box input-field inline">
          <i class="small material-icons">email</i>
          <input class="tbox" type="email" name="" value="" placeholder="Enter your email">
          <button class="btn btn1" type="button">Subscribe</button>
        </div>
      </form>
    </div>
    <div class="col s6" id="right">
      <h2>Contact Us</h2>
      <a class="modal-trigger" href="#modal-contact">Contact</a>
    </div>
  </div>
  <!-- TODO : Animated Modal ?  -->
  <div id="modal-contact" class="modal">
    <div class="modal-content">
      <h3>Contact Us</h3>
      <form>
        <input type="text" name="" placeholder="Your Name">
        <input type="email" name="" placeholder="Your Email">
        <div class="input-field">
          <textarea id="textarea-contact" class="materialize-textarea" data-length="150"
            placeholder="Your Message"></textarea>
        </div>
        <!-- TODO : Animated sumbit button -->
        <!-- <span><i>Todo : Submit button animated</i></span> -->
        <div class="center-align"><i class="medium material-icons modal-close">mail</i></div>
        <!-- <input type="button" class="modal-close" name="" value="Submit"> -->
        <!-- <input type="submit" class="modal-close" name="" value="Submit"> -->

      </form>
    </div>
  </div>
</section>