<section id="work">
  <div class="row">
    <!-- Current Project Show -->
    <div class="col s7" id="left-p">
      <h2>Current Project</h2>
      <!-- TODO: Média (ytb player) "last trailer CyberPunk 2077" + Todo List on left -->
      <!-- TODO: All description below this -->
    </div>
    <!-- Last Project -->
    <!-- TODO : "info" trigger modal Game Description (GameService) -->
    <div class="col s5" id="right-p">
      <h2>Last Projects</h2>
      <div class="row">
        <div class="colum">
          <img src="../../assets/img/img_parisFade.jpg" id="parisCity" />
        </div>
        <div class="column">
          <div class="post-1">
            <img src="../../assets/img/cityCar.jpg" id="cityCar" />
            <div class="post-1-s">
              <h3>Fast & Crazy</h3>
              <div class="icons">
                <a href="#" class="icon">
                  <i id="heart" class="material-icons">favorite</i>
                </a>
                <a href="#" class="icon">
                  <i class="material-icons">info</i>
                </a>
                <a href="#" class="icon">
                  <i id="buy" class="material-icons">shopping_cart</i>
                </a>
              </div>
            </div>
          </div>
          <div class="post-2">
            <img src="../../assets/img/sunFighter.jpg" id="sunFight" />
            <div class="image-content">
              <h3 id="post-2-title">Sun Fighter</h3>
              <div class="icons-2">
                <a href="#" class="icon-2">
                  <i id="heart" class="material-icons">favorite</i>
                </a>
                <a href="#" class="icon-2">
                  <i class="material-icons">info</i>
                </a>
                <a href="#" class="icon-2">
                  <i id="buy" class="material-icons">shopping_cart</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
