<section id="work">
  <div class="row">
    <!-- Current Project Show -->
    <div class="col s7" id="left-p">
      <h2>Current Project</h2>
      <!-- TODO: Média (ytb player) "last trailer CyberPunk 2077" + Todo List on left -->
      <!-- TODO: All description below this -->
    </div>
    <!-- Last Project -->
    <!-- TODO: Image hoverable with icons (info, like) -->
    <!-- TODO : "info" trigger modal Game Description (GameService) -->
    <div class="col s5" id="right-p">
      <h2>Last Projects</h2>
      <div class="row">
        <div class="colum">
          <img src="../../assets/img/img_parisFade.jpg" id="parisCity" />
        </div>
        <div class="column">
          <img src="../../assets/img/cityCar.jpg" id="cityCar" />
          <img src="../../assets/img/sunFighter.jpg" id="sunFight" />
        </div>
      </div>
    </div>
  </div>
</section>
