<section id="work">
  <div class="row">
    <!-- Current Project Show -->
    <div class="col s7" id="left-p">
      <h2>Current Project</h2>
      <div class="row">
        <app-ytb-player></app-ytb-player>
        <!-- List of TodoItem component -->
        <app-todo-list></app-todo-list>
      </div>
      <div class="row">
        <div class="col s12" id="desc">
          <h3>Project description</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore
            enim quam pariatur inventore. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. In vel et amet reiciendis incidunt debitis
            cupiditate ut, repellat quasi doloribus dolorem molestias facere,
            explicabo repellendus nostrum provident!
          </p>
          <p class="center-align"><i>Available on :</i> <br /></p>
          <img src="../../assets/img/icon-playstation.png" id="iPlay1" />
          <img src="../../assets/img/icon-playstation.png" id="iPlay2" />
          <p class="center-align" id="play">Playstation <br /></p>
          <img src="../../assets/img/icon-xbox.png" id="iBox1" />
          <img src="../../assets/img/icon-xbox.png" id="iBox2" />
          <p class="center-align" id="xbox">
            Xbox
          </p>
          <img src="../../assets/img/icon-pc.png" id="iPC1" />
          <img src="../../assets/img/icon-pc.png" id="iPC2" />
          <p class="center-align">
            PC
          </p>
        </div>
      </div>
    </div>
    <!-- Last Project -->
    <!-- TODO : "info" trigger modal Game Description (GameService) -->
    <div class="col s5" id="right-p">
      <h2>Last Projects</h2>
      <div class="row">
        <div class="colum">
          <img src="../../assets/img/img_parisFade.jpg" id="parisCity" />
        </div>
        <div class="column">
          <div class="post-1">
            <img src="../../assets/img/cityCar.jpg" id="cityCar" />
            <div class="post-1-s">
              <h3>Fast & Crazy</h3>
              <div class="icons">
                <a href="#" class="icon">
                  <i id="heart" class="material-icons">favorite</i>
                </a>
                <a href="#" class="icon">
                  <i class="material-icons">info</i>
                </a>
                <a href="#" class="icon">
                  <i id="buy" class="material-icons">shopping_cart</i>
                </a>
              </div>
            </div>
          </div>
          <div class="post-2">
            <img src="../../assets/img/sunFighter.jpg" id="sunFight" />
            <div class="image-content">
              <h3 id="post-2-title">Sun Fighter</h3>
              <div class="icons-2">
                <a href="#" class="icon-2">
                  <i id="heart" class="material-icons">favorite</i>
                </a>
                <a href="#" class="icon-2">
                  <i class="material-icons">info</i>
                </a>
                <a href="#" class="icon-2">
                  <i id="buy" class="material-icons">shopping_cart</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="animated-text center-align center-block">
            <div class="line">Projects</div>
            <div class="line">will be</div>
            <div class="line">released</div>
            <div class="line">soon 🤞</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
